.myBorder {
    animation: morph 8s ease-in-out infinite;
    background-image: url(https://lh3.googleusercontent.com/pw/AIL4fc8xTx3ZHzyyWKWJC5yW2gXWEfq34ZxuJZvfWWeLZAnuBDvqkrclL0-BjBeSW-hSyLRx2R_VJZv-EOfWG9FHFXHD_rPLSG6hg8_UAI7n2M3n4U7im6ysSXnYyEUIjVe4HSjQmqqRaJjHaRcziv9LWYhlfpmlMx9_bldqEquWubSeCP7E4w6MswM5RHnV0fhWQpPUqRkPHG0yinXCOxjs55REvlN556h2Vl0RakIGxm_tV6FHCiTrNkhcO1KUPRwWMlpN8T4utsNeDTsZioAOgHSJ13XZwXvkjCswbP7aIFPOG9izTkvQTDr3A7hHVESHSXLKQZQ5L4dfta9LHAjIGv5HjL-WpAGtB5wp9vTwR3ksGJGVwG1pALZf0tWIJGzq1DSK23cTDB962ryompXUkDr7vr-HRyYmh7dBKHwYECMxaMYwIcOArgYbtE_rEdhjjyI1fU5CZdDymyrXaEsUrwjQH_EkoeJTSyer68LzO6Rr0VZIHkvVy9ascQi2dyFTTe6Uzqq-qkO7txBPeFmvkB1oMtrULpuImBhZ7Zo0uG3O2AiIdBvenTA2n9qSvzv5DUN9jqAJVJP5fR1GWdaxBPp7cZ3r7w0XD09JzFk6q5G83_jmsYQjwKdy5qLuTtxTPe3rsmoTprItfIxU6tuKtr3l8spFQk8HlLzIPSiosBJnfuLm6rbLNxmjBsr5GzpMJfESw1DNUzc9pVhbM0rccL3fXZe4mxylmG6LSTIRjuwIzkTKuSHHhUVQFaDrxChI-hC4QKP-yPzZBiZU6MfegE-faOhwqdfuzHMx8KJssg1v-_8KF9O7QRms_TbosIMDnpfLMCWY6dcT436OU-llwjcaLF-nBZ5WLhidibayl7olXuNO1bymApnAxDGlM6WMVOSShVqMpU7HNvU7L3zY0fY=w1011-h1011-s-no?authuser=0);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 35% 30% 70%/ 60% 20% 70% 40%;
    height: 24rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 24rem;
}

@keyframes morph {
    0% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}